<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>Тестовое задание</title>
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
    <script src="http://code.jquery.com/jquery-1.10.2.js"></script>
    <script src="http://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
	<script type="text/javascript" src="/static/js/simple_datepicker.js"></script>
	<script type="text/javascript" src="/static/js/cell_editors.js"></script>
</head>
<body>
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr valign="top">
    <td height="100%">
      <ul width="235" height="100%">
        {% for tab in tables %}
        <li> <a href="/{{ tab.name }}/">{{ tab.title }} </a></li>
        {% endfor %}
      </ul>
    </td>

    <td>
        <table width="100%" border="2" cellspacing="0" cellpadding="0">
          <tr>
             {% for field in fields %}
             <td><div>{{ field.title }}</div></td>
             {% endfor %}
          </tr> 
      
          {% for rec in records %}
          <tr>
             {% for cell in rec %}
             <td><div id="{{ cell.field_name}}_{{ cell.rec_id }}" class="data_cell" edit_type="{{ cell.type }}" cell_value="{{ cell.value }}" field_name="{{ cell.field_name}}" rec_id="{{ cell.rec_id}}" tab_name="{{ cur_tab_name }}">{{ cell.value }}</div></td>
             {% endfor %}
          </tr> 
          {% endfor %}
        </table>

        <div>{{ cur_table.title }}. Добавление записи:</div>
        <form method="post" action="">
        {{ form.as_p }}
        <input value="Добавить" class="button_submit" type="submit">

        </form>
    </td>

  </tr>
</table>
</body>
</html>
